.searchForm
{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.movieNameInput
{
    width: 30ch;
    height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 16px;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    background: none;
    color: var(--text-color);
    outline: none;
}

.movieYearInput
{
    width: 4ch;
    height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 16px;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    background: none;
    color: var(--text-color);
    outline: none;
}

.movieYearInput::-webkit-inner-spin-button,
.movieYearInput::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.movieTypeInput
{
    width: 15ch;
    height: 2.75rem;
    padding: 0.25rem 1rem;
    font-size: 16px;
    background: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    background: none;
    color: var(--text-color);
    outline: none;
}

.movieTypeInputOption
{
    background: var(--background-color);
}

.searchBtn
{
    background-color: var(--accent-color);
    height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 16px;
    border-radius: 20px;
    border:none;
    box-sizing: content-box;
    cursor: pointer;
    color: var(--background-color);
    font-weight: 700;
}

.movieNameInput:focus,
.movieYearInput:focus,
.movieTypeInput:focus,
.searchBtn:hover
{
    background: var(--hover-color);
}