* 
{
  --background-color: #252525;
  --text-color: #FEFEFE;
  --second-color: #808080;
  --accent-color: #FA9F42;
  --hover-color: #FF7733;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
